[user]
  name = Theodor Vararu
  email = theo@vararu.org
[include]
  path = ~/.gitconfig.local
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.gitignore.global
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
