[user]
  name = Theodor Vararu
  email = theo@vararu.org
  signingkey = /Users/deity/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/PublicKeys/c1bf132907311509ec637c2549b97b8a.pub
[init]
  defaultBranch = main
[core]
  excludesfile = ~/.gitignore.global
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
[delta]
  navigate = true  # use n and N to move between diff sections
  line-numbers = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

; Commit signing using SSH
[commit]
  gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedSignersFile = ~/.gitallowedsigners
  defaultKeyCommand = sh -c 'echo key::$(ssh-add -L)'
